:root {
  --bg-orange: hsl(31, 77%, 52%);
  --bg-cyan: hsl(184, 100%, 22%);
  --bg-dark-cyan: hsl(179, 100%, 13%);

  --white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);

  --font-size: 0.9375rem;

  --font-400: 'Lexend Deca', sans-serif;
  --font-700: 'Big Shoulders Display', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  max-width: 920px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-family: var(--font-400);
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.7;
  border-radius: 0.5rem;
  overflow: hidden;
}
.orange {color: var(--bg-orange);}
.cyan {color: var(--bg-cyan);}
.dark-cyan {color: var(--bg-dark-cyan);}

.card {
  padding: 3.125rem;
}

.card1 {
  background-color: var(--bg-orange);
}

.card2 {
  background-color: var(--bg-cyan);
}

.card3 {
  background-color: var(--bg-dark-cyan);
}

.btn {
  text-decoration: none;
  background: white;
  padding: 0.9375rem 1.875rem;
  border-radius: 1.5625rem;
  transition: all 0.2s ease-in;
}
.car-style {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: var(--font-700);
  font-weight: 700;
  margin: 1.5625rem 0;
}
.p-text {
  margin-top: 1.875rem;
  margin-bottom: 4.6875rem;
  opacity: 0.8;
}

.btn:hover {
  border: 0.125rem solid var(--white);
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
}

@media screen and (max-width: 760px) {
  .container {
    flex-wrap: wrap;
    max-width: 325px;
  }

}